@media only screen and (min-width: 240px) {

#window {background-color:rgba(253,253,253,1);width:22.5em;height:calc(100% - 40px);border:1px solid #eee;box-shadow:0px 1px 4px rgba(0,0,0,0.5);position:relative;left:50%;transform:translate(-50%,0);top:1em;}
.pastrounds {width:22em;height:calc(50% - 44px);background-color:rgba(30,70,100,0.9);position:fixed;z-index:2;left:0px;bottom:40px;padding:8px;text-align:left;display:none;}
.sidebets {width:22em;height:calc(50% - 44px);background-color:rgba(30,70,100,0.9);position:fixed;z-index:2;right:0px;bottom:40px;padding:8px;text-align:left;display:none;}
	
.sbl {color:white;background-color:rgba(30,70,100,0.9);position:fixed;right:0px;bottom:0px;width:50%;height:40px;z-index:3;font-size:15px;text-align:center;line-height:42px;}
.prl {color:white;background-color:rgba(30,70,100,0.9);position:fixed;left:0px;bottom:0px;width:calc(50% - 1px);height:40px;z-index:3;font-size:15px;text-align:center;line-height:42px;}
.sbl, .prl {display:block;}
	
#table {position:absolute;font-size:15px;width:20em;height:3.7em;top:63px;left:calc(50%);z-index:99;transform:translate(-50%,0);background-color:rgba(255,255,255,0.99);border-radius:6px;overflow:hidden;display:none;}
}

@media only screen and (min-width: 590px) {
	
#window {background-color:rgba(253,253,253,1);width:22.5em;height:calc(100% - 40px);border:1px solid #eee;box-shadow:0px 1px 4px rgba(0,0,0,0.5);position:relative;left:calc(100% - 42em);transform:translate(0,0);top:1em;}
.general #window {background-color:rgba(253,253,253,1);width:22.5em;height:calc(100% - 40px);border:1px solid #eee;box-shadow:0px 1px 4px rgba(0,0,0,0.5);position:relative;left:50%;transform:translate(-50%,0);top:1em;}
.pastrounds {width:19em;height:calc(50% - 22px);background-color:rgba(30,70,100,0.9);position:fixed;z-index:2;left:calc(100% - 19em);bottom:-1px;padding:8px;text-align:left;display:block;}
.sidebets {width:19em;height:calc(50% - 22px);background-color:rgba(30,70,100,0.9);position:fixed;z-index:2;right:0px;bottom:calc(50% - 22px);padding:8px;text-align:left;display:block;}
.sbl, .prl {display:none;}
	
#table {position:absolute;font-size:15px;width:20em;height:3.7em;top:63px;left:calc(100% - 38.7em);z-index:99;transform:translate(0,0);background-color:rgba(255,255,255,0.99);border-radius:6px;overflow:hidden;display:none;}
}

@media only screen and (min-width: 880px) {
	
#window {background-color:rgba(253,253,253,1);width:22.5em;height:calc(100% - 40px);border:1px solid #eee;box-shadow:0px 1px 4px rgba(0,0,0,0.5);position:relative;left:50%;transform:translate(-50%,0);top:1em;}
.pastrounds {width:20em;height:calc(100% - 44px);background-color:rgba(30,70,100,0.9);position:fixed;z-index:2;left:0px;bottom:0px;padding:8px;text-align:left;display:block;}
.sidebets {width:20em;height:calc(100% - 44px);background-color:rgba(30,70,100,0.9);position:fixed;z-index:2;right:0px;bottom:0px;padding:8px;text-align:left;display:block;}
.sbl, .prl {display:none;}
	
	
#table {position:absolute;font-size:15px;width:20em;height:3.7em;top:63px;left:calc(50%);z-index:99;transform:translate(-50%,0);background-color:rgba(255,255,255,0.99);border-radius:6px;overflow:hidden;display:none;}
}